
:root{
    
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#1C90F3; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#33a1ff; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#167ad0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

#body {
    color: var(--MAIN-TEXT-color) !important;
    margin-left: 200px;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: #5c5c5c;
    width: 200px;
}
#sidebar #header-wrapper {
    background: #5c5c5c;
    color: #5c5c5c;
    border-color: #5c5c5c;
    height: 200px;
}

#sidebar .searchbox {
	border-color: #5c5c5c;
    background: #666666;
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: #5c5c5c;
}
#sidebar .searchbox * {
    color: #c0c0c0;
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: #5c5c5c;
    color: orange !important;
}

#sidebar ul.topics > li > a {
    line-height: 1.5rem;
    font-size: 1.05rem;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .nav {
    display: none;
}

#sidebar a.padding {
    padding: 0 0.1rem;
}
#top-bar {
    background: #F6F6F6;
    min-height: 1.5rem;
}

#body .padding {
    padding: 3rem 3rem;
}

pre {
    background: #5c5c5c;
}
.hljs {
    background: #5c5c5c;
}

.hljs-comment, .hljs-meta, .hljs-meta .hljs-keyword {
    color: #DCDCDC;
}

.hljs {
    color: #DCDCDC;
}


#sidebar #shortcuts h3 {
    color: white !important;
}

.searchbox {
    margin-top: 0rem;
    position: relative;
    border: 1px solid #915eae;
    background: #764890;
    border-radius: 4px;
}


h1 {
    display: none;
}

summary {
    color: #167ad0;
}

#body .padding {
    padding: 0rem 3rem !important;
}

#body img, #body .video-container {
    margin: 0rem auto;
}

figure {
    float: right;
    width: 15%;
    text-align: center;
    font-size: 8pt;
    border: none;
    margin: 0em;
    padding: 0em;
}

#footer {
    padding: 3rem 1rem;
}

#sidebar #header-wrapper {
    height: 180px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.4rem
}

h5 {
    font-size: 1.2rem
}

.hljs {
    padding: 0em;
}



div.notices p {
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}